* {
  box-sizing: border-box;
}

/* header */
.bar {
  border-bottom: rgb(231, 231, 231) 1px solid;
}

.barlogo {
  height: 60px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.barlogo img {
  height: 70%;
}

.restaurant-title {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.restaurant {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  width: 96vw;
}

.restaurant-photo {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  padding: 20px 0;
  font-weight: bold;
  font-family: "Lucida Sans Regular", sans-serif;
}

.restaurant-title p {
  font-size: 18px;
  line-height: 28.8px;
  font-family: "Lucida Sans";
  color: #868a8a;
  padding-top: 10px;
}

main {
  background-color: #f2f5f5;
  height: 100%;
  padding-bottom: 60px;
}

/*menu*/
.menu {
  width: 1200px;
  margin: 0 auto;
}

h2 {
  padding: 30px 0;
  font-size: 23px;
  font-weight: bold;
  font-family: "Lucida Sans Regular", sans-serif;
}

.dishes {
  display: flex;
  gap: 20px;
  width: 852px;
  flex-wrap: wrap;
}

.dish {
  background-color: white;
  width: 400px;
  height: 160px;
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 7px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.name-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textdish {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h3 {
  font-size: 18px;
  font-family: "Lucida Sans Regular", sans-serif;
}

.dish p {
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  color: #868a8a;
}

.price {
  color: #868a8a;
}

.dish span {
  font-family: "Lucida Sans Unicode", sans-serif;
}

.meal-img img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.price-popular {
  display: flex;
  gap: 30px;
}

.popular {
  color: orangered;
  font-weight: bold;
  font-size: 13px;
}

.name-desc p {
  color: #808484;
  overflow: hidden;
  height: 28px;
}

.dish:hover {
  cursor: pointer;
}

/* responsive */

/* 1184px */

@media (max-width: 1220px) {
  .bar {
    padding: 0 10px;
  }

  /* .restaurant-title {
    padding: 0 10px;
  } */

  .menu {
    padding: 0 10px;
  }

  .restaurant {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1090px) {
  .dish {
    width: 70%;
    height: 160px;
  }
}

@media (max-width: 870px) {
  .restaurant {
    display: flex;
    flex-direction: column;
  }

  .restaurant-title p {
    font-size: 15px;
  }

  .restaurant-title {
    padding: 0 20px;
  }

  .restaurant-photo {
    padding-top: 20px;
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 0;
  }

  .restaurant h1 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .dish {
    max-width: 760px;
    width: 96vw;
    margin-right: 8px;
  }

  .dishes {
    display: flex;
    flex-direction: column;
  }
}
